.App {
  display: flex;
  padding: 5vh;
}

.App__container {

}

.todolist__title {
  background-color: gold;
}

.todolist__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aqua;
}

.isDone {
  opacity: 0.5;
}